body{
    background:#F3F5F9 ;
}

.nav-item > a.active{
    background: #343A40;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;

}

.nav-item > a{
    margin-left: 15px;
}

.titlecontainer{
    background: white;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.maincontainer{
    margin-top: 50px;
    padding-top: 10px;
}

li.page-item.active span{
    background: #212529 !important;
    border-color: #212529 !important;
}

.maincontainer__button{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-form__main{
    width: 60%;
}
