.container {
    width: 100%;
    text-align: center;
}

.section--header {
    text-align: center;
    width: 100%;
    padding-top: 1px;
}

.section--body {
    width: 100%;
}

.table {
    width: 100%;
}

.table--thead {
    background: darkgrey;
    color: white;
    font-weight: bold;
}

th, td {
    text-align: center;
}

tr {
    border-bottom: 1px solid black;
}

table {
    border-collapse: collapse;
}

.active {
    background: lightgray;
}

section {
    border: 1px solid;
    padding: 0px;
    margin-bottom: 50px;
}

.red {
    background: rgb(255, 64, 70);
}
